/***************************************************************************
/* base
/ *************************************************************************/
.fau-orga-breadcrumb {
    
    ul { 
	
        margin: 0;
        padding: 0; 
	li {
	     display: inline;
	     padding: 0;
	}
    }
    nav {
	display: block;
        h4{ 
	    display: inline;
            font-size: 1em;
        }
        span {
            margin: 0 5px;
        }
    }
}

.fau-orga-breadcrumb-shortcode {
    
}

.widget .fau-orga-breadcrumb-widget li {
    &:before {
	display: none;
	content: "";
    }
}