/***************************************************************************
/* base
/ *************************************************************************/
ul.breadcrumblist,
ol.breadcrumblist {
    margin: 0;
    
    li {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;

	&:before {
		display: none;
	}
	display: inline;
    }
    li:after {
	content: ' / ';
    }
    li:last-child::after {
	content: '';
    }
    
}
