/***************************************************************************
/* base
/ *************************************************************************/
ul.breadcrumblist,
ol.breadcrumblist {
    margin: 0;
    
    li {
	list-style: none;
	margin: 0;
	padding: 0;
	background: none;

	&:before {
		display: none;
	}
	display: inline;
    }
    li:after {
	content: ' / ';
    }
    li:last-child::after {
	content: '';
    }
    
}


/* Theme-Breadcrumb ausblenden */
.menu-modal__breadcrumbs {
	display: none !important;
}


/* Styling für Plugin-Breadcrumb in FAU Elemental */

.fau-elemental-breadcrumb {
	margin: 0 0 1rem 0;
	padding: 1.3rem 1.1rem 0.3rem 1.2rem;

	nav.orga-breadcrumb {
		font-size: 1rem;
		line-height: 1.4;
		color: #041E42;

		ol.breadcrumblist {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			//gap: 5px;

			li {
				display: flex;
				align-items: center;
				font-weight: 700;

				a {
					text-decoration: none;
					color: #002855;
					font-weight: 700;

					&:hover {
						text-decoration: underline;
					}
				}

				/* Trenner */
				&:after {
					content: "/";
					margin: 0 0.4rem; /* ✅ mehr Luft links & rechts */
					color: #041E42;
				}

				&:last-child:after {
					content: "";
					margin: 0;
				}
			}
		}
	}
}