//-----------------------------------------------------------------------------------*/
// Frontend SASS File FAU Orga Breadcrumb
//-----------------------------------------------------------------------------------*/

// Base vars definitions
@import "../_common/sass/base";

// Frontend
@import "../_common/sass/frontend";
