//-----------------------------------------------------------------------------------*/
// Admin SASS File FAU Orga Breadcrumb
//-----------------------------------------------------------------------------------*/

// Base vars definitions
@import "../sass/base";

// Backend Form elements for admin settings
@import "../sass/backend-form";

// Frontend
@import "../sass/frontend";
