//-----------------------------------------------------------------------------------*/
// Admin SASS File FAU Orga Breadcrumb
//-----------------------------------------------------------------------------------*/

// Base vars definitions
@import "../_common/sass/base";

// Backend Form elements for admin settings
@import "../_common/sass/backend-form";

// Frontend
@import "../_common/sass/frontend";
